# Ignore Python virtual environments
.venv/

# Ignore bytecode files
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Ignore local environment files
.env.local
.env.template

# Ignore test data
.pytest_cache/
tests/

# Ignore IDE configurations
.vscode/
.idea/

# Ignore git metadata
.git/
