.ag-header-cell-label {
    font-weight: bold;
    font-size: 16px;
}

#aggregation-slider .rc-slider-track {
    background-color: #4582ec;
}

#aggregation-slider .rc-slider-handle {
    border: solid 2px #4582ec;
}